[submodule "zsh/.config/zsh/powerlevel10k"]
	path = zsh/.config/zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "alacritty/.config/alacritty/themes"]
	path = alacritty/.config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
[submodule "tmux/.config/tmux/tpm"]
	path = tmux/.config/tmux/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:shadow-absorber/kickstart-modular.nvim.git
